@import url("https://fonts.googleapis.com/css?family=Cherry+Swash|Yarndings+20|Bungee+Spice|Playpen+Sans|Madimi+One|Linefont");
html {
    width: 100px;
    height: 100px;
}
body {
    font-family: 'Playpen Sans', 'Madimi One';
    color: #000000;
    background-color: #b282ff;
    text-align: center;
}
h1 {
    font-family: 'Bungee Spice', sans-serif;
    font-size: 65px;
    font-weight: 400;
    font-style: normal;
}
a {
    color: #cf0a0a;
    text-decoration: none;
}
a:hover {
    color: #29bd04;
    text-decoration: underline;
}
a:active {
    color: #0086d3;
    top: 1px;
    text-decoration: underline solid;
}
.backbutton {
    box-shadow:inset 0px 1px 0px 0px #9c0c0c;
    background:linear-gradient(to bottom, #ff0000 5%, #730808 100%);
    background-color:#ff0000;
    border-radius:6px;
    border:1px solid #ff8f8f;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:'Cherry Swash';
    font-size:11px;
    font-weight:bold;
    padding:3px 11px;
    text-decoration:none;
    text-shadow:0px 1px 0px #000000;
}
.backbutton:hover {
    background:linear-gradient(to bottom, #730808 5%, #ff0000 100%);
    background-color:#730808;
}
.backbutton:active {
    position:relative;
    top:1px;
}
.symbols-font {
    font-family: 'Yarndings 20';
    font-size: 30px;
}
#spacer {
    font-family: 'Linefont';
}
.newline {
    margin-bottom: 20px;
}
