/* This just makes the box around the code */
py-code,
js-code,
lua-code,
css-code,
go-code,
c-code,
cpp-code,
kt-code,
java-code,
ceylon-code,
cs-code,
html-code
{
    display: block;
    padding: 10px;
    border-radius: 8px;
    background-color: #b9b9b9;
    border: 1px solid #ddd;
    width: relative;
}